<div class="row to_delete">
  <div class="col-md-5" id="scenario_<%= scenario.id %>">
    <%= scenario.description %>
    <p class="delete">
    <span><%= link_to "Editer", edit_scenario_path(scenario, ticket_id: @ticket.id), remote: true, class: "btn btn-primary" %></span>
    <span><%= link_to "Supprimer", scenario_path(scenario, ticket_id: @ticket.id), method: :delete, data: {confirm: "Etes-vous sur", remote: true }, class: "btn btn-danger" %></span>
    </p>
  </div>
  <div class="col-md-7">
    <p>Je suis l'attendu </p>
    <p>Je suis l'attendu </p>
    <p>Je suis l'attendu </p>
  </div>
</div>
<br>
<br>
