<h1>Liste des paragraphes</h1>

<div data-controller="drag" data-drag-url="/paragraphs/:id/move" id="paragraphs">
  <%= render @paragraphs.ordered_by_position %>
</div>

<%= link_to "Ajouter un paragraphe", new_paragraph_path, class: "btn btn-primary" %>
